.btn {
    display: inline-block;
    padding: 1.1em 1.8em;
    border-radius: 3em;
    background-color: inherit;

    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-align: center;
    color: $white;
    transition: background-color .2s linear;

    &--red {
        background-color: $btn-red;
        box-shadow: 0px 7px 17px -10px rgba($btn-red, .2);

        &:hover {
            background-color: darken($btn-red, 10%);
            text-decoration: none;
        }

    }

    &--blue {
        background-color: $btn-blue;
        box-shadow: 0px 7px 17px -10px rgba($btn-blue, .2);

        &:hover {
            background-color: darken($btn-blue, 10%);
        }
    }

}