$primery:    #202020;
$secondary:  #0d0d0d;
$white:      #fff;
$btn-red:    #ED3024;
$btn-blue:   #3137C9;


//Текст
$title:      #fff;
$text:       #d2d2d2;
$subtwxt:    #828282;

$link-header:#3137c9;
$link:       #107EFF;

$sitebar-width: 300px;

//Breakpoints
$tablet-bp:1100px;
$mobile-bp:575px;

