<div class="modal">
	<!-- Modal content -->
	<div class="modal__content">
		
		<ul class="social social--modal">
			<li class="social__item">
				<a href="#" class="social__link">
					<img src="icons/modal/facebook.svg"  />
				</a>
			</li>
			<li class="social__item">
				<a href="#" class="social__link">
					<img src="icons/modal/twitter.svg" />
				</a>
			</li>
			<li class="social__item">
				<a href="#" class="social__link">
					<img src="icons/modal/vk.svg"  />
				</a>
			</li>
			<li class="social__item">
				<a href="#" class="social__link">
					<img src="icons/modal/copy.svg"  />
				</a>
			</li>
		</ul>
		<button class="modal__clouse" type="button">
			<img src="icons/modal/clouse.svg"  />
		</button>
	</div>
	<!-- /.modal__content -->
</div>
